{% extends "layout.html" %}
<!doctype html>
<html lang="en">

{% block title %}Blog Site Alpha{% endblock %}
{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A portfolio template that uses Material Design Lite.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <!-- Calling the head html from the layout.html file -->
    {{ super() }}
{% endblock %}
<body>
{% block body %}
    {{ super() }}
    <main class="lg1-layout__content">
        <div class="mdl-grid portfolio-max-width">
            <div class="mdl-cell mdl-cell--12-col md3-card mdl-shadow--4dp">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">About</h2>
                </div>
                <div class="mdl-card__media">
                    <img class="article-image" src="https://storage.cloud.google.com/badgcloudstorage/about.jpg"
                         border="0" alt="">
                </div>

                <div class="mdl-grid portfolio-copy">
                    <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Introduction</h3>
                    <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
                        <p>
                            This site is a simple little blog site. It has some of my blogs for you all to read, along with a new trello board and slack messaging system you all can use!
                            Please recommend to me more things I can do on the site to improve it!
                            You can also create your posts and comment on them!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block footer %}
    {{ super() }}
{% endblock %}
</div>
</body>

</html>
