{% extends "layout.html" %}
<!doctype html>

<html lang="en">
{% block title %}Blog Site Alpha{% endblock %}
{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A portfolio template that uses Material Design Lite.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <script src="/static/script.js"></script>
    <!-- Calling the head html from the layout.html file -->
    {{ super() }}
{% endblock %}
<body>
{% block body %}
    {{ super() }}
        <ul>
        {% for message in slack_messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    <main class="lg-layout__content">
        <div class="mdl-grid portfolio-contact">
            <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Contact</h2>
                </div>
                <div class="mdl-card__media">
                    <img class="article-image" src="static/images/contact-image.jpg" border="0" alt="">
                </div>
                <div class="mdl-card__supporting-text">
                    <p>
                        Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure
                        enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et
                        consequat duis.
                    </p>
                    <p>
                        Excepteur reprehenderit sint exercitation ipsum consequat qui sit id velit elit. Velit anim
                        eiusmod labore sit amet.
                    </p>
                    <form action="#" class="">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" pattern="[A-Z,a-z, ]*" type="text" id="Name">
                            <label class="mdl-textfield__label" for="Name">Name...</label>
                            <span class="mdl-textfield__error">Letters and spaces only</span>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" id="Email">
                            <label class="mdl-textfield__label" for="Email">Email...</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <textarea class="mdl-textfield__input" type="text" rows="5" id="note"></textarea>
                            <label class="mdl-textfield__label" for="note">Enter note</label>
                        </div>
                        <p>
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                                    type="submit">
                                Submit
                            </button>
                        </p>
                    </form>
                    <button onclick="interval()">memes</button>
                </div>
            </div>
        </div>
        <div class="mdl-grid portfolio-contact">
            <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Message me on Slack</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <p>
                        Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure
                        enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et
                        consequat duis.
                    </p>
                    <p>
                        Excepteur reprehenderit sint exercitation ipsum consequat qui sit id velit elit. Velit anim
                        eiusmod labore sit amet.
                    </p>
                    <form action="{{ url_for(action, message=message) }}" method="POST">
                      {{ form.hidden_tag() }}
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                          <div>{{ form.message.label(class="mdl-textfield__label",for="note" ) }}
                              {{ form.message(class="mdl-textfield__input",type="text",rows="5",id="slack_message") }}
                          </div>
                            <!--textarea class="mdl-textfield__input" type="text" rows="5" id="slack_message"></textarea>
                            <label class="mdl-textfield__label" for="note">Send Alex a messgae</label-->
                        </div>
                        <p>
                          {{ form.submit(class="btn btn-outline-info") }}
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block footer %}
    {{ super() }}
{% endblock %}
</body>
</html>
