{% extends "layout.html" %}

<!doctype html>
<html lang="en">
{% block title %}Blog Site Alpha{% endblock %}
{% block head %}
    {{ super() }}

{% endblock %}

{% block body %}
    {{ super() }}
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <main class="mdl-layout__content">
        <div class="container">
            <form action="{{ url_for(action, id=post.id) }}" method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}

                <div>{{ form.title.label(class="form-control-label") }}
                    {{ form.title(class="form-control form-control-lg",value=post.title) }}</div>

                <div>{{ form.post_data.label(class="form-control-label") }}
                    {{ form.post_data(class="form-control form-control-lg") }}
                </div>
                <div>{{ form.file.label(class="form-control-label") }}
                    {{ form.file(class="form-control form-control-lg") }}
                </div>
                {{ form.submit(class="btn btn-outline-info") }}
            </form>
        </div>
    </main>
    </body>
{% endblock %}
</div>
</html>
